
@{
    ViewData["Title"] = "Index";
}




<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822030767</td>
                    <td>Đinh Thị Duyên (Nhóm trưởng)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822040944</td>
                    <td>Đặng Minh Quang (Thành viên)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822040741</td>
                    <td>Nguyễn Thế Vỹ (Thành viên)</td>
                </tr>

            </tbody>
        </table>
    </article>
</section>
<h1>Thầy Tùng đẹp troai xD</h1>
<footer>
    <p>Copyright &copy; Dang Minh Quang - @DateTime.Now.Year</p>
</footer>
